
.main-content{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'weather map'
    'location map';
    gap: 20px;
    margin-top: 20px;
}

#map {
    grid-area: map;
    width: 100%;
    height: 500px;
}

.location{
    grid-area: location;
    background-color: rgb(64, 54, 54);
    color:antiquewhite
}

.weather{
    grid-area: weather;
    background-color: aqua;
}

.temp {
    margin-bottom: 19.920px;
}

